<div class="container mt-5">
  <div class="row">
    <div class="actions mb-2">
        <ng-template #create let-offcanvas>
            <app-create-edit-books [offcanvas]="offcanvas"></app-create-edit-books>
        </ng-template>
      <button type="button" class="btn button" (click)="openActionBar(create)">Novo Livro</button>
    </div>
    <div class="col-12">
      <div class="list rounded-2 border border-1 mb-5">
        <div class="list-header">
          <div class="header-item">Título</div>
          <div class="header-item">Editora</div>
          <div class="header-item">Edição</div>
          <div class="header-item">Ano</div>
          <div class="header-item">Autor</div>
          <div class="header-item">Assunto</div>
          <div class="header-item">Ações</div>
        </div>
        <div class="list-body">
          <ng-container *ngFor="let item of books; let i = index">
            <div class="body-item">{{ item.titulo }}</div>
            <div class="body-item">{{ item.editora }}</div>
            <div class="body-item">{{ item.edicao }}</div>
            <div class="body-item">{{ item.anoPublicacao }}</div>
            <div class="body-item">{{ item.autor }}</div>
            <div class="body-item">{{ item.assunto }}</div>
            <div class="body-item">
                <div class="actions-list">
                    <ng-template #edit let-offcanvas>
                        <app-create-edit-books [offcanvas]="offcanvas" [idBook]="item.id"></app-create-edit-books>
                    </ng-template>
                    <i class="bi bi-pencil" (click)="openActionBar(edit)"></i>
                    <i class="bi bi-trash3" (click)="deleteBook(item.id)"></i>
                </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
